@tailwind base;
@tailwind components;
@tailwind utilities;
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.loginBox {
  border: 14px solid #f5f4e8;
  background-color: #fff;
  width: 44rem;
  height: 40rem;
  margin-right: 2rem;
  border-radius: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
}

.loginBox h1 {
  font-size: 54px;
  color: #3e300f;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 0;
}

.loginBox h3 {
  font-size: 35px;
  color: #3e300f;
  margin-top: 10px;
  font-weight: bold;
  left: 1rem;
  position: relative;
}

#inputField {
  width: 100rem;
}

.inputField input {
  background-color: #f5f4e8;
  margin-top: 10px;
  width: 25rem;
  height: 2rem;
  border-radius: 50px;
  position: relative;
  left: 1rem;
}

#infoInput {
  width: 40rem;
}

.SubmitButton {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  align-items: center;
  text-align: center;
}

.loginBox button {
  align-items: center;
  text-align: center;
}

.SubmitButton button {
  background-color: #bfbe50;
  border-radius: 51px;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  font-size: 25px;
}

.SubmitButton button:hover {
  background-color: #f5f261;
  color: rgb(253, 101, 0);
}

.loginBox a:hover {
  color: hsl(25, 94%, 57%);
  text-decoration: underline;
  cursor: pointer;
}

.loginBox a {
  display: flex;
  color: #a6551c;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  left: 1rem;
}

#titleDados {
  left: 8rem;
  position: relative;
}

img {
  margin-top: 4rem;
}
